name: Deploy VPS

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push API image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: services/api/Dockerfile
          push: true
          tags: ghcr.io/felippechemello/fiap-vehicles-api:latest

      - name: Build and push Auth image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: services/auth/Dockerfile
          push: true
          tags: ghcr.io/felippechemello/fiap-vehicles-auth:latest
